body {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}

.container { 
    display: grid;
    place-items: center;
    margin: auto;
}

.nav-home {
    max-width: 50vw;
    text-align: center;
    line-height: 40px;
}

nav > a {
    text-decoration: none;
    font-size: x-large;
    color: #333;
    margin: 10px;
}

nav > a:hover {
    color: #010101;
}

